.button {
  width: 80px;
  height: 45px;
}

.button:not(:last-child) {
  margin-right: 15px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
